<div class='container text-center'>
    <h1>Impressum</h1>
    <p><br><br>Angaben gemäß § 5 TMG:<br><br> 

4mate<br>
Inhaber: Manuel Eynollahiargaghy<br>
Geschäftsanschrift:<br>
Kupferstraße 25<br>
70565 Stuttgart<br><br>

Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br>
DE308531663<br><br>

Kontaktaufnahme<br>
Eine elektronische Kontaktaufnahme ist unter der E-Mail-Adresse info@topside-sport.de möglich.<br><br>

Telefon:<br>
+49 (0) <br>

ONLINE-STREITBEILEGUNG<br>
Seit dem 9. Januar 2016 können gemäß der EU-Verordnung 524/2013 Streitigkeiten zwischen Verbrauchern und Händlern und/oder Dienstleistern im Zusammenhang von Online-Kaufverträgen oder Online-Dienstleistungsverträgen über eine europaweite Online-Plattform beigelegt werden.<br><br>

Diese Plattform ist über nachfolgenden Link erreichbar:<br>
http://ec.europa.eu/consumers/odr/<br><br>

Urheber- und Nutzungsrechte<br>
Die durch die Seitenbetreiber erstellten Inhalte, Werke und bereitgestellten Informationen unterliegen dem deutschen Urheber- und Leistungsschutzrecht. Die Rechte an den auf dieser Webseite bereitgestellten Inhalten und Werken liegen bei Manuel Eynollahiargaghy.<br>
Unveränderte Auszüge oder Inhalte aus dieser Webseite können für persönliche, private und nicht kommerzielle Zwecke ausgedruckt oder auf sonstige Weise vorübergehend gespeichert werden, sofern hierbei sämtliche Urheberrechts- und Eigentumshinweise unverändert übernommen werden.<br>
Davon abgesehen darf diese Webseite weder ganz noch auszugsweise ohne die vorherige schriftliche Zustimmung von Manuel Eynollahiargaghy kopiert, modifiziert oder auf Medien jedweder Art öffentlich dargeboten oder neu veröffentlicht werden; insbesondere in Frames oder iFrames.<br><br>

Verwendung von Daten<br>
Wir weisen darauf hin, dass die Verwendung der Kontaktdaten des Impressums zur gewerblichen Werbung ausdrücklich nicht erwünscht ist, es sei denn, wir hatten zuvor unsere schriftliche Einwilligung erteilt oder es besteht bereits eine Geschäftsbeziehung. Wir und alle auf dieser Webseite genannten Personen widersprechen hiermit jeder kommerziellen Verwendung und Weitergabe der Daten.</p>
</div>
